.card {
  display: flex;
  flex-direction: column;
  width: 413px;
  padding: 0 20px;
  border-radius: 8px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card {
    padding: 0;
    width: 288px;
  }

  .card__image {
    height: 288px;
    margin-bottom: 12px;
  }

  .card__content {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card__title {
    max-width: 220px;
  }

  .card__like-button {
    flex-shrink: 0;
  }
}
