.modal {
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 32px 50px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  background-image: url(../images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_image {
  background-image: url(../images/closeicon.svg);
  right: 135px;
  top: 38px;
  opacity: 1;
}

.modal__close-btn_type_image:hover {
  opacity: 0.4;
}

.modal__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
  margin-top: 4px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-label {
  display: block;
  margin: 16px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  color: #212121;
  opacity: 0.7;
}

.modal__form-input {
  box-sizing: border-box;
  padding: 16px 12px 16px;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.modal__form-input_type_error {
  border: 1px solid #ff0000;
}

.modal__form-input-error_active {
  margin-bottom: 16px;
  color: #ff0000;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}

.modal__form-input::placeholder {
  color: rgba(33, 33, 33, 0.4);
}

.modal__save-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #fcf5f5;
}

.modal__save-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__save-btn_inactive {
  border: none;
  cursor: default;
  opacity: 0.5;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.modal__card-wrapper {
  padding: 0;
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  padding: 4px 8px;
  position: absolute;
  bottom: -55px;
  left: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}

@media screen and (max-width: 767px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .modal__form-input {
    margin-bottom: 24px;
  }

  .modal__save-btn {
    width: 100%;
    margin-bottom: 8px;
  }

  .modal__image {
    max-width: 288px;
    border-radius: 4px;
  }

  .modal__close-btn.modal__close-btn_type_image {
    right: 12px;
    top: 12px;
  }
}
